{% load crispy_forms_tags %}
<style>
  .title {
    text-align: center;
    justify-content: center;
  }
  .feed {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .activityform {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
  .textarea{
    text-align: center;
    justify-content: center;
  }
</style>
<body>
  <div class="title">
    <h1>__TODO__</h1>
  </div>
  <div class="feed">

    <div class="activityform">
      {%for event in activity%}
      <div class="textarea">
        <small>{{event.date}}</small>
        <h1>{{event.title}}</h1>
        <h3>{{event.description}}</h3>
        <hr />
      </div>
      <div>
       <button><a href="{%url 'delete' event.id%}">Remove</a></button>
      </div>
      {%endfor%}
    </div>
    <div>
      {%include 'base/todoform.html'%}
    </div>
  </div>
</body>
